{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {{ globalcontext.appname }} | {{ view_name }} </title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/animate.css" %}"  rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    {% block jqueryinc %}<script src="{% static "js/jquery-2.1.1.js" %}"></script>{% endblock %}
    {% block headerscripts %}{% endblock %}
</head>
{% block body %}
<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg" style="overflow: hidden;">
        {% include 'navbar.html' %}
        <div class="wrapper wrapper-content">
            {% block wrappercontent %}
            <div class="container">
            {% block pagecontent %}
                {% block stats %}{% endblock %}
                {% block devicelist %}{% endblock %}
                {% block networklist %}{% endblock %}
                {% block networkmap %}{% endblock %}
            {% endblock %}
            </div>
            {% endblock %}
        </div>
        {% include 'footer.html' %}
        </div>
        </div>
    {% include 'jsincludes.html' %}
</body>
{% endblock %}
</html>
