{% extends 'base.html' %}

{% block navbar %}
    {{ block.super }}
{% endblock %}

{% block stats %}
<div class="row">
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">Total </span>
                <h5>Devices</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ device_list.count }}</h1>
                <small>Total Devices</small>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Managed</span>
                <h5>Devices</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ managed_device_list.count }}</h1>
                <small>Managed Devices</small>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-warning pull-right">Discovered</span>
                <h5>Devices</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ discovered_device_list.count }}</h1>
                <small>Discovered Devices</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block devicelist %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> Device List </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-3 pull-right">
                        <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            {% for field in deviceform %}
                            <th>{{ field.label }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for devform in dev_obj_forms %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% for field in devform %}
                                {% if field.name == "mgtip" %}
                                <td>{{ devform.instance.mgtip.address }}</td>
                                {% else %}
                                    {% if field.label == "Status" %}
                                        {% if field.value == "mngd" %}
                                        <td><span class="label label-info">Managed</span></td>
                                        {% elif field.value == 'dscv' %}
                                        <td><span class="label label-warning">Discovered</span></td>
                                        {% endif %}
                                    {% else %}
                                        <td>{{ field.value|default_if_none:"-" }}</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}