{% block footer %}
 <div class="footer">
    <div class="pull-right">
        Do your work. <strong> Don't be stupid!</strong>
    </div>
    <div>
        <strong>Copyright</strong> Fahad Yousuf &copy; 2016
    </div>
</div>
{% endblock %}