{% load staticfiles %}
{% block jsincludes %}
<!-- Mainly scripts -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
<script src="{% static "js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static "js/inspinia.js" %}"></script>


{% endblock %}