{% load netmappertags %}
{% block navbar %}
<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <i class="fa fa-reorder"></i>
        </button>
        <a href="#" class="navbar-brand">{{ globalcontext.appname }}</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
            <li class="{% active '/devices/' %}">
                <a aria-expanded="false" role="button" href="/devices/"> Devices </a>
            </li>
            <li class="{% active '/networks/' %}">
                <a aria-expanded="false" role="button" href="/networks/"> Networks </a>
            </li>
            <li class="{% active '/networkmap/' %}">
                <a aria-expanded="false" role="button" href="/networkmap/"> Network Map </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="/logout">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </div>
</nav>
</div>
{% endblock %}