{% extends 'base.html' %}
{% load staticfiles %}

{% block navbar %}
    {{ block.super }}
{% endblock %}

{% block jqueryinc %}
<script src="{% static "js/draw2d/lib/jquery-1.12.0.min.js" %}"></SCRIPT>
{% endblock %}

{% block headerscripts %}
<script src="{% static "js/draw2d/lib/shifty.js" %}"></script>
<script src="{% static "js/draw2d/lib/raphael.js" %}"></script>
<script src="{% static "js//d3/d3.v3.min.js" %}"></script>
<script src="{% static "js/draw2d/lib/jquery.autoresize.js" %}"></script>
<script src="{% static "js/draw2d/lib/jquery-touch_punch.js" %}"></script>
<script src="{% static "js/draw2d/lib/jquery.contextmenu.js" %}"></script>
<script src="{% static "js/draw2d/lib/rgbcolor.js" %}"></script>
<script src="{% static "js/draw2d/lib/canvg.js" %}"></script>
<script src="{% static "js/draw2d/lib/Class.js" %}"></script>
<script src="{% static "js/draw2d/lib/json2.js" %}"></script>
<script src="{% static "js/draw2d/lib/pathfinding-browser.min.js" %}"></script>

<script src="{% static "js/draw2d/src/draw2d.js" %}"></script>
{% endblock %}

{% block wrappercontent %}
    <div class="row">
        <div onselectstart="javascript:/*IE8 hack*/return false" style="overflow: scroll; position: absolute;" class="col-md-10" id="canvas"></div>
        <div style="overflow: none; position: absolute;" class="col-md-10" id="canvasoverlay"></div>
        <div id="side-tab" class="col-md-2 black-bg text-white hidden" style="position: absolute;">
            <div id="object-info" class="hidden" style="padding: 10px 0px 10px 0px"></div>
            <div id="secondary-info" class="hidden" style="padding: 10px 0px 10px 0px"></div>
            <div id="mouse-pos" class="col-md-12 red-bg text-black hidden" style="position: absolute;">Mouse Position x:<span id="xpos"> - </span>y:<span id="ypos"> - </span></div>
        </div>
    </div>

<script src="{% static "js/netmapperjs/netmapper.js" %}"></script>
<script type="text/javascript">
var static_url = {% static "" %};
var canvas = null;
var device_shapes = null; var network_shapes = null;
var globalpos = {'x': 0, 'y': 0};
var device_objs = {{ serialized_devices|safe }};
var interface_objs = {{ serialized_interfaces|safe }};
var network_objs = {{ serialized_networks|safe }};
var connections = null;
// Make an indexed object for networks
var indexed_networks = {};
for (var i=0; i<network_objs.length;++i) {
    netobj = network_objs[i];
    indexed_networks[netobj.pk] = netobj;
}

$(window).load(function () {
    // create the canvas for the user interaction
    //
    var canvaswidth = 120*(device_objs.length+network_objs.length);
    var canvaslength = 100*(device_objs.length+network_objs.length);
    canvas = new draw2d.Canvas("canvas", canvaswidth, canvaslength);
    var MouseTrackingPolicy = draw2d.policy.canvas.CanvasPolicy.extend({
    NAME: 'MouseTrackingPolicy',
        init: function() {
            this._super();
        },
        onMouseMove: function (the, x, y, shiftKey, ctrlKey ) {
            this._super(the, x, y, shiftKey, ctrlKey);
            $('#xpos').html(" "+x+" "); $('#ypos').html(" "+y+" ");
        }
    });
    var canvaspolicy = new MouseTrackingPolicy();
    canvas.installEditPolicy(canvaspolicy);
    // this example is different than the other ones. In this example the div is the scroll
    // area and not the body itself
    $('#canvas').css({ top: $('#navbar').height(), left: 0, bottom: $('.footer').outerHeight()});
    $("#canvasoverlay").hide();
    $('#canvasoverlay').css({
        top: $('#navbar').height(),
        left: 0,
        bottom: $('.footer').outerHeight(),
        visibility: "visible",
        "background-color": "#fbfbfb",
        color: "#0b0b0b",
    });
    $('#canvasoverlay').html("<div><h2> Calculating Optimum Force Directed Layout.<br /><br /> Please wait. </h2></div>");
    $("#canvasoverlay").fadeIn(1500);
    $('#side-tab').css({ top: $('#navbar').height(), right: 0, bottom: $('.footer').outerHeight(), color: '#ffffff' });
    $('#side-tab').removeClass('hidden');
    $('#mouse-pos').css({ right: 0, bottom: 0, color: '#ffffff', padding: "10px 10px 10px 10px" });
    $('#object-info').removeClass('hidden');
    $('#secondary-info').removeClass('hidden');
    $('#mouse-pos').removeClass('hidden');
    canvas.setScrollArea("#canvas");
    device_shapes = setupCanvas(canvas, device_objs, globalpos);
    network_shapes = setupCanvas(canvas, network_objs, globalpos);
    connections = setupObjectPorts(canvas, device_objs, interface_objs, indexed_networks, device_shapes, network_shapes);

    //D3.js Force Directed Graph Node Positioning Calculation
    d3container=d3.select(canvas.paper.canvas);
    var nodeArray = new Array();
    var linkArray = new Array();
    for (var i=0; i<device_objs.length; ++i) {
        sobj = device_shapes[(device_objs[i].pk)];
        element0a = d3container.append("g")
                .attr("class","node")
                .attr("transform","translate(100,100)")
                .attr("id", device_objs[i].pk);
        element0b = element0a.append("rect")
                .attr("x",element0a.x)
                .attr("y",element0a.x)
                .attr("width", sobj['object_composite'].getWidth())
                .attr("height",sobj['object_composite'].getHeight())
                .attr('fill', 'green')
                .style("visibility","hidden");
        nodeArray.push({id: device_objs[i].pk, label:"", ui: element0a, shapeobj: sobj});
        device_shapes[(device_objs[i].pk)]['nodeindex'] = nodeArray.length-1;
    }
    for (var i=0; i<network_objs.length; ++i) {
        sobj = network_shapes[(network_objs[i].pk)];
        element0a = d3container.append("g")
                .attr("class","node")
                .attr("transform","translate(100,100)")
                .attr("id", network_objs[i].pk);
        element0b = element0a.append("rect")
                .attr("x",element0a.x)
                .attr("y",element0a.x)
                .attr("width", sobj['object_composite'].getWidth())
                .attr("height", sobj['object_composite'].getHeight())
                .attr('fill', 'blue')
                .style("visibility","hidden");
        nodeArray.push({id: network_objs[i].pk, label:"", ui: element0a, shapeobj: sobj});
        network_shapes[(network_objs[i].pk)]['nodeindex'] = nodeArray.length-1;
    }

    // Create the links
    for (var i=0; i<connections.length; ++i) {
        connection = connections[i];
        srcshape = device_shapes[connection.sourcePort.parent.composite.id];
        dstshape = network_shapes[connection.targetPort.parent.composite.id];
        //console.log(srcshape.nodeindex+" - "+dstshape.nodeindex);
        linkArray.push({source: srcshape.nodeindex, target: dstshape.nodeindex});
    }

    // Calculate estimate canvas size
    var totalshapes = device_objs.length + network_objs.length;
    var force = self.force = d3.layout.force()
        .nodes(nodeArray)
        .links(linkArray)
        .linkDistance(120)
        .gravity(0.08)
        .charge(-2300)
        .size([canvaswidth, canvaslength])
        .start();

    var node = d3container.selectAll("g.node")
        .data(nodeArray);

    force.on("tick", function() {
        node.attr("transform", function(d) {
            return "translate(" + d.x + "," + d.y + ")";
        });

    });

    force.on("end", function() {
        for (var a=0;a<nodeArray.length;++a) {
            nodeobj = nodeArray[a];
            nodeobj.shapeobj.object_composite.setX(nodeobj.x);
            nodeobj.shapeobj.object_composite.setY(nodeobj.y);
        }
        showConnections(connections);
        $("#canvas").scrollTop(canvaslength/4);
        $("#canvas").scrollLeft(canvaswidth/4);
        $("#canvasoverlay").fadeOut(1500);
    });

});
</script>
{% endblock %}