{% extends 'base.html' %}

{% block navbar %}
    {{ block.super }}
{% endblock %}

{% block stats %}
<div class="row">
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">Total </span>
                <h5>Networks</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ network_list.count }}</h1>
                <small>Total networks</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block networklist %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> Network List </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-3 pull-right">
                        <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            {% for field in networkform %}
                            <th>{{ field.label }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for netform in net_obj_forms %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% for field in netform %}
                                <td>{{ field.value|default_if_none:"-" }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}